body {
  background-color: var(--klerosUIComponentsLightBackground);
  min-height: 100vh;
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--klerosUIComponentsPrimaryBlue);
  border-radius: 10px;
  transition: opacity 0.15s, background-color 0.15s, border-color 0.15s,
    width 0.15s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--klerosUIComponentsSecondaryBlue);
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--klerosUIComponentsPrimaryBlue);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-klerosUIComponentsPrimaryBlue) transparent;
}
